<!DOCTYPE HTML>
<html>
<head>
<title>Add New Customer</title>
<!--<link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet" type="text/css" media="all"/>-->
<link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
<link href="{{url_for('static',filename='css/reset.css')}}" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Reset Password Form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!--google fonts-->
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
<!--element start here-->
<div class="container" style="min-height:100% width:80%">
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
		    {% for message in messages %}
			  <div class="alert alert-warning alert-dismissible" role="alert">
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
				{{message}}
			  </div>
			{% endfor %}
		  {% endif %}
		{% endwith %}
		
		{% block body %}{% endblock %}
	</div>
<div class="elelment">

	<!--<h2>Customer registration Form</h2>-->
	<div class="element-main">
		<h1>New Customer</h1>
		<p> Please Fill Following Details to Registration</p>
		<form action="{{url_for('custreg')}}" method="post">
			
			<input type="text" name = "fname" placeholder="Enter First Name" required=""><br>
			<input type="text" name = "lname" placeholder="Enter Last Name" required=""><br>
			<input type="text" name = "uname" placeholder="Enter Your User Name" required=""><br>
			<input type="radio" name="gender" value="male"> Male<br>
                        <input type="radio" name="gender" value="female"> Female<br>
                        <input type="radio" name="gender" value="other"> Other<br>
			<input type="text" name = "age" placeholder="Enter AGE" required=""><br>
                        <input type="text" name = "email" placeholder="Enter Email ID" required=""><br>
			<input type="text" name = "phone" placeholder="Enter Phone Number" required=""><br>
			<input type="password" name = "pwd" placeholder="Enter Password" required=""><br>
			<input type="password" name = "rpwd" placeholder="Confirm Password" required=""><br>
			<input type="submit" value="Submit">
			<input type="reset" value="Reset">
		</form>
	</div>
</div>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>


<!--element end here-->
</body>
</html>