{% extends "base2.html" %}
{% block content %}

<!doctype html>
<html>
   <body>
     <h2> Student Details With Grades</h2>
      <table border = 1>
         <thead>
            <td>Id</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>User Name</td>
            <td>Gender</td>
            <td>Age</td>
            <td>Email Id</td>
            <td>Phone</td>
            <td>Address</td>
            
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row['id']}}</td>
               <td>{{row['fname']}}</td>
               <td>{{row["lname"]}}</td>
               <td>{{row["uname"]}}</td>
               <td>{{row["gender"]}}</td>
               <td>{{row['age']}}</td>
               <td>{{row['email']}}</td>
               <td>{{row['phone']}}</td>
               <td>{{row['address']}}</td>	
               	
            </tr>
         {% endfor %}
      </table>
<form action = "{{ url_for('deletecustomer') }}" method = "POST">
 <label for="id">Enter the Id to Remove the Customer:</label>
    <input type="text" name="id" id="id" />
<p>
    <input type="submit" name="submit" value="Delete"/>
</p>
</form>
   </body>
</html>
{% endblock content %}