<div class="container">
  <div class="row">
    <!-- Section Title Start -->
    <div class="col-lg-12">
      <div class="section-title  text-center">
        <h2>About us</h2>
        <span class="title-line"><i class="fa fa-car"></i></span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
    <!-- Section Title End -->
  </div>

  <div class="row">
    <!-- About Content Start -->
    <div class="col-lg-6">
      <div class="display-table">
        <div class="display-table-cell">
          <div class="about-content">
            <p>Lorem simply dummy is a texted of the printing costed and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- About Content End -->

    <!-- About Video Start -->
    <div class="col-lg-6">
      <div class="about-image">
        <img src="assets/img/home-2-about.png" alt="JSOFT">
      </div>
    </div>
    <!-- About Video End -->
  </div>

  <!-- About Fretutes Start -->
  <div class="about-feature-area">
    <div class="row">
      <!-- Single Fretutes Start -->
      <div class="col-lg-4">
        <div class="about-feature-item active">
          <i class="fa fa-car"></i>
          <h3>ALL BRANDS</h3>
          <p>Loremed ipsumed is a compnayes odsoyel dolor sit amet, consectetur adipisicing elit. Nesciunted all of.</p>
        </div>
      </div>
      <!-- Single Fretutes End -->

      <!-- Single Fretutes Start -->
      <div class="col-lg-4">
        <div class="about-feature-item">
          <i class="fa fa-car"></i>
          <h3>ALL BRANDS</h3>
          <p>Loremed ipsumed is a compnayes odsoyel dolor sit amet, consectetur adipisicing elit. Nesciunted all of.</p>
        </div>
      </div>
      <!-- Single Fretutes End -->

      <!-- Single Fretutes Start -->
      <div class="col-lg-4">
        <div class="about-feature-item">
          <i class="fa fa-car"></i>
          <h3>ALL BRANDS</h3>
          <p>Loremed ipsumed is a compnayes odsoyel dolor sit amet, consectetur adipisicing elit. Nesciunted all of.</p>
        </div>
      </div>
      <!-- Single Fretutes End -->
    </div>
  </div>
  <!-- About Fretutes End -->
</div>

